* text=auto
*.bash eol=lf
*.sh eol=lf
*.inputrc eol=lf
*.md eol=lf
*.py eol=lf
*.cheat eol=lf
*.txt eol=lf
*.yaml eol=lf
*.yml eol=lf
*.conf eol=lf
*.tf eol=lf
*.tfvars eol=lf
*.log eol=lf
*.bashrc eol=lf
*.toml eol=lf
*.rs eol=lf
*.json eol=lf
*.js eol=lf
*.html eol=lf
*.vim eol=lf
.gitmodules eol=lf
.gitignore eol=lf
.profile eol=lf
.editorconfig eol=lf
.dockerignore eol=lf
.vimrc eol=lf
